extends ../shared/layout
block main-content
    .row.text-center
        .col-md-12.col-sm-10.hero-feature
            h1.cutText #{product.name}
            .thumbnail
                img(src='#{product.imageUrl}', alt='')
                .caption
                    p.ellipsis #{product.description}
                    h2 Price: #{product.price}.00
                    h2 Quantity: #{product.quality | 0}
                    h2 Published date: #{moment(Date.now()).format('MM/DD/YYYY')}
