extends ../shared/layout
block main-content
      .row.alert-success.h4
         .col-md-1 Image
         .col-md-3 Name
         .col-md-5 Description
      each product in products
         .row.thumbnail
            .thumbnail.col-md-1
               img(src='#{product.imageUrl}', alt='')
            .col-md-3
               h3.cutText #{product.name}
            .col-md-5
               p.ellipsis #{product.description}
            .col-md-3
               p
                  a.btn.btn-primary.pull-right(href='/admin/products/remove/#{product.id}') Remove
                  a.btn.btn-primary.pull-right(href='/admin/products/edit/#{product.id}') Edit